* {
  box-sizing: border-box;
}
.body {
  font-size: 100%;
}
.main-container {
  width:100%;
  height: 4000px;
  font-family: 'Lato', 'Oswald', 'Ubuntu', 'Roboto';
}
.grid-header {
  background-color: #8c8c8c;
  width:100%;
  height: 2.5%;
  display: grid;
  grid-template-columns: 20% 13% 13% 13% 13% 13% auto;
  grid-template-rows: 100%;
}
.header-grid-item {
  text-align: center;
}
.header-grid-item p {
  text-align: center;
  height: 100%;
  display: inline-grid;
  align-content: center;
  color:#fff;
  font-size: 1.5em;
  font-weight: bold;
}
.latest-articles-title {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 150px;
  left: 45%;
  text-align: center;

}
.latest-articles-title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #fff;
  padding: .3em .4em ;
  line-height: 1.5em;
}

.latest-articles-grid-container {
  display: grid;
  width: 100%;
  height:200vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: stretch;
}
.latest-grid-item h2{
  padding: 5px;
  text-align: center;
  height: 100%;
  display: inline-grid;
  align-content: center;
  color:#fff;
  font-size: 3em;
  font-weight: bold;
}
.articles-grid-container {
  height: 330vh;
  width: 95%;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
}
.articles-grid-item {
  height: inherit;
  text-align: center;
  font-size: 1.5em;
  padding: 5vh 2vh;
}
.ad-grid-item2 {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 15px;
    margin: 5vh 2vh;
}
.ad-grid-item1{
  height: 30%;
  width: 80%;
  display: inline-grid;
  align-content: center;
  border: 2px solid blue;
  border-radius: 8px;
  margin: 35% 10%;
  color: white;
  background-color: #33ccff;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.ad-grid-item2 p{
  height: 100%;
  width:100%;
  text-align: center;
  display: inline-grid;
  align-content: center;
  font-size: 1.5em;
  font-weight: bold;
}
.mid-row{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.bot-row {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
